* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior:smooth;
}
body {
    background-color: pink;
}
img {
    width: 360px;
    height: 280px;
    object-fit: cover; 
}
#navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(197, 114, 128);
}
ul#nav-list {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
li.nav-item {
    margin: 20px;
    list-style: none;
    font-size: 25px;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar a:hover {
    color: grey;
    transition: 0.5s ease-in-out;
}
#welcome-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
   font-size: 60px;
   color: white;
}
h2{
    color: rgb(239, 161, 174);
}
#projects h2, #contact h2 {
    font-size: 30px;font-size: 25px;
    text-align: center;
    padding-top: 80px;
    border-bottom: 5px solid grey;
    margin: auto;
    width: 75vw;
    margin-bottom: 75px;
    height: 75px;
}
#grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
a>p {
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
}
#projects a {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#show{
    display: none;
}
#projects a:hover #show{
    display: block;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}
#projects a:hover #hide{
    display: none;
}
#contact {
    width: 100vw;
    height: 100vh;
}
#contact>ul{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#contact>ul>li{
    font-size: 40px;
    margin: 20px;
}
#contact>ul>li>a{
    color: white;
}
#contact>ul>li>a:hover{
    color: grey;
    transition: 0.5s ease-in-out;
}
footer {
    color: white;
    margin: 20px;
}
@media screen and (max-width: 1000px) {
    #grid-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: fit-content;
      padding-bottom: 5px;
    }
    #navbar {
        justify-content: center;
  }
}